html{
    max-width: 1440px;
    height: 720px;
}
body{
    font-size: 15px;
    font-family: 'Inter', 'Lexend Deca';
}

.card{
    background-color: hsl(244, 38%, 16%);
    width: 1200px;
    margin: auto;
    border: auto;
}

.card .content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    text-align: center;
}